<div *ngIf="!dragging" class="actions">
  <button mat-mini-fab color="warn" class="button" (click)="deleteTask()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-mini-fab (click)="editTask()" class="button">
    <mat-icon>edit</mat-icon>
  </button>
</div>

<mat-expansion-panel [ngStyle]="{'max-width': dragging ? '20rem' : 'unset'}" class="panel">
  <mat-expansion-panel-header>
    {{taskFormGroup.value.name}}
  </mat-expansion-panel-header>
  {{taskFormGroup.value.description}}
</mat-expansion-panel>



